<html>
    <head>
        <title>Bem vindo!</title>
    </head>
    <body>
        <h1>Bem vindo ao nosso Site 01 !</h1>

        <footer>Todos os direitos reservados 2019 - @DateTime.Now.Year</footer>
    </body>
</html>
