@model Site01.Models.Palavra
@{
    Layout = "_Layout";
}
@{
    ViewBag.Title = "Palavra - Listagem";
}

<form method="post">
    <input type="hidden" id="Id" name="Id" value="@Model.Id" />
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" class="form-control" id="name" placeholder="Enter Name" value="@Model.Name">

    </div>
    <div class="form-group">
        <label for="nivel">Nivel</label>
        <input type="number" name="nivel" class="form-control" id="nivel" placeholder="Enter Your Nível 0,1 or 2" value="@Model.Nivel">
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>
