@model List<Site01.Models.Palavra>
@{
    Layout = "_Layout";
}
@{ 
    ViewBag.Title = "Palavra - Listagem";
}


        <a href="/palavra/cadastrar" class="btn btn-primary">Cadastar</a>
        <span>Total de Registros: @Model.Count</span>
        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Palavra</th>
                    <th scope="col">Nível</th>
                    <th scope="col">Ação</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var palavra in Model)
                {
                    <tr>
                        <th scope="row">@palavra.Id</th>
                        <td>@palavra.Name</td>
                        <td>@palavra.Nivel</td>
                        <td>
                            <a href="/palavra/atualizar/@palavra.Id" class="btn">Editar</a>
                            <a class="btn" href="/palavra/deletar/@palavra.Id">Excluir</a>
                        </td>
                    </tr>
                }


            </tbody>
        </table>

